nav {
	background-color: #4b5320;
	padding-right: 3%;
}

body {
	/*padding-top: 5%;*/
	padding-bottom: 5%;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
}


h3 {
	padding-bottom: 2%;
}

.main {
	padding-top: 7%;
}

.section {
	padding-bottom: 5%;
}

.icon i {
	font-size: 1.2em;
	color: red;
}

a {
	color: black;
}

#intro-photo {
	max-width: 90%;
	height: auto;
}

ul {
	list-style-position: inside;
}

ul li {
	padding-left: 5%;
}